<script>
  var keywords = `{{keywords}}`;
  var current_loc = {{location}};
</script>


<div class="">
  <div class="table-responsive">
    <table id="keyword-table" class="display nowrap" cellspacing="0" width="100%">
    </table>
    <div id="btn_export">
      <!-- <button type="button" name="button" class="btn-primary">Export</button> -->
    </div>
  </div>
</div>

<!-- <div id="modal_export" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="modal_export">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      ...
    </div>
  </div>
</div> -->
