<div class="col-md-4 col-md-offset-4">
  <h2 class="page-header" style="text-align: center;">Account Login</h2>
  <div style="padding: 10px;"></div>
  <form class="" action="/users/login" method="post">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input type="text" class="form-control input-lg" name="username" placeholder="Username">
    </div>
    <div style="padding: 10px;"></div>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input type="password" class="form-control input-lg" name="password" placeholder="Password">
    </div>
    <div style="padding: 10px;"></div>
    <div class="" style="text-align: right">
      <a href="/users/register" style="margin-right: 10px;">Not register yet?</a>
      <button type="submit" class="btn-success btn-lg">Log In</button>
    </div>
  </form>
</div>
